header { 
  background-color: gray;
  height: 56px;
  
}

nav {
  padding: 0 25px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar-left {
  width: 11%;
  display: flex;
  justify-content: space-between;
}

.navbar-item {
  height: 20px;
}

#search-field-container {
  display: flex;
  align-items: center;
}

#navbar-right {
  display: flex;
  width: 15%;
  justify-content: space-between;
}




.main-video {
  padding-top:  50px;
  background-color: cadetblue;
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  
}

.related-videos {
  background-color: chartreuse;
  display: inline-block;
  box-sizing: border-box;
  width: 30%;
  
}
